<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Add Album</h1>
<form method="POST" action="/album">

<p>Album Title<input name="title" id="title"></p>
<p>Artist<input name="artist" id="artist"></p>
<p>Length in Secs<input name="lengthInSecs" id="lengthInSecs"></p>
<p>Number of Songs<input name="songCount" id="songCount"></p>
<p>Album Cover URL<input name="imgUrl" id="imgUrl"></p>
<button type="submit" id="submit">Add Album</button>
</form>
</body>
</html>